<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721623548532-ogu43g224i5ti2j1s6kiftfp1fgj9n75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721623548532-ogu43g224i5ti2j1s6kiftfp1fgj9n75</string>
	<key>API_KEY</key>
	<string>AIzaSyCwjYbvRxq9VIrq9xbG2Tr6MEXWMa_WbNI</string>
	<key>GCM_SENDER_ID</key>
	<string>721623548532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKakaoProfileExe</string>
	<key>PROJECT_ID</key>
	<string>flutter-kakao-profile-ex</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-kakao-profile-ex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721623548532:ios:813c3610f498683889c721</string>
</dict>
</plist>