<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108962451543-fi5td8dhi6kbp0q6dvk6tru84v1qmad1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108962451543-fi5td8dhi6kbp0q6dvk6tru84v1qmad1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108962451543-av3ottpmhtbt6kadl0k8sjqnst5rhlb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRdp1hKyzFRz-ilDZAGWe7grMJV6OuAOk</string>
	<key>GCM_SENDER_ID</key>
	<string>108962451543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKakaoProfileExe</string>
	<key>PROJECT_ID</key>
	<string>flutter-kakao-profile-exe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-kakao-profile-exe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108962451543:ios:72234933b84a084f1ad312</string>
</dict>
</plist>